<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buyer Dashboard</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="standardstyles.css">
  <link rel="stylesheet" href="dashboard_b.css">
  <link rel="stylesheet" href="modal.css">
</head>
<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      <div class="logo-container"></div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" style="color: white" href="/profile_b">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<body id="dashboardBody">
  <!-- <div class="background-container"></div> -->
  <div id="dashboardContainer" style="text-align: center;">
    <h2>Buyer Dashboard for <%= buyer.firstName %>
      <%= buyer.lastName %>
    </h2>
    <div class="form-row col-md-12 d-flex justify-content-left">
      <div class="form-group col-md">
        <input type="hidden" id="agentid" name="agentid">
        <input type="hidden" id="buyeragentmatchid" name="buyeragentmatchid">
        <input type="hidden" id="datatype" name="datatype">
        <div class="property-group" style="margin-top: 32px;">
          <div class="partial-info" id="propertyContainer">
            <h4 class="text-center">Your Search Criteria</h4>
          </div>
          <div class="more-info" id="more-info1" style="display: none;">
            <div class="searchInfoDisplay" id="searchInfoDisplay">
              <!-- JavaScript will populate this container -->
            </div>
            <div class="form-row button-row">
              <button id="modify-button" class="modify-button" type="button" data-toggle="modal" data-target="#searchDetailModal" onclick="populateSearchDetails()">
                Modify Search Info
              </button>
            </div>
          </div>
          <button id="toggle1" class="toggle-button moreless-button">
            <i class="fas fa-chevron-down"></i>&nbsp;Show&nbsp;<i class="fas fa-chevron-down"></i>
          </button>
        </div>
        <div class="form-row">
          <div class="userZip-container">
            <div class="partial-info" id="zipContainer">
              <h4>Your Zip Codes</h4>
            </div>
            <div class="more-info" id="more-info2" style="display: none;">
              <div id="displayZipCodes" class="justify-content-center">
                <!-- JavaScript will populate this container -->
              </div>
              <div class="form-row button-row">
                <button type="button" id="modify-button" class="modify-button" data-toggle="modal" data-target="#zipCodeModal" onclick="populateUserZipCodes();">
                  Modify Zip Codes
                </button>
              </div>
            </div>
            <button id="toggle2" class="toggle-button moreless-button">
              <i class="fas fa-chevron-down"></i>&nbsp;Show&nbsp;<i class="fas fa-chevron-down"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="offer-group col-md-8">
        <!-- <div class="form-row" style="margin-top: 40px;">
          <h3 class="col-md-6">Your Offers</h3>
        </div> -->
        <div class="offerFilter row col-md-12" id="filtercontainer">
          <label for="offerFilter" class="col-md-5 col-form-label dropdown"><span>
              <h4>Your Offers</h4>
            </span></label>
          <select id="offerFilter" class="form-select-sm col-md-5 dropdown" onchange="getOffers(this.value, this)">
            <option id="allavailablefilter" value="AllAvailable">All Available Offers</option>
            <option id="newfilter" value="New">Unread Offers</option>
            <option id="favoritefilter" value="Favorite">Favorite Offers</option>
            <option id="readfilter" value="Read">Read Offers</option>
            <option id="declinedfilter" value="Declined">Declined</option>
          </select>
        </div>

        <div id="getOffers" class="tabcontent col-md-12">
          <div class="row offerlist">
            <div id="offers" class="offers col-md-4">
              <!-- JavaScript will populate this container -->
            </div>
            <div id="offerDetailContainer" class="container-right col-md-5">
              <div id="offerDetail">
                <!-- JavaScript will populate this container -->
              </div>
              <div class="form-row container-right" style="border:none">
                <div id="detailButtons">
                  <!-- JavaScript will populate this container -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="messageModal" class="modal" style="display: none;">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p id="modalMessage">Some text in the Modal..</p>
      <button class="modal-close-btn" id="modalCloseButton">Close</button>
    </div>
  </div>
  <%- include('searchDetail_modal') %>
  <%- include('zipcode_modal') %>
  <%- include('agentinfo_modal') %>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/dashboard_b.js"></script>
  <script src="/session.js"></script>
  <script src="/zipcode.js"></script>
  <script src="https://js.stripe.com/v3/"></script>
</body>

</html>