<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"> <!-- Link to your external CSS file -->
    <link rel="stylesheet" href="header.css">
    <title>Dashboard</title>
</head>
<header>
    <div class="row row-cols-2">
        <div id="title" class="align-items-center">
            <h1 class="mt-2"><a href="/">SeekingAgents</a></h1>
        </div>
        <nav id="navlinks" class="justify-content-end text-center">
            <p id="navname"><%= firstname %> <%= lastname %></p>
            <p>|</p>
            <p><a href="/profile_b" >Profile</a></p>
            <p>|</p>
            <p><a href="/settings">Settings</a></p>
            <p>|</p>
            <p><a href="/logout">Logout</a></p>
        </nav>
    </div>
    
</header>
<body id="dashboardBody">
    <h1>Buyer Dashboard for <%= firstname %> <%= lastname %></h1>
    <div id="dashboardContainer">
        <h1>Buyer Dashboard for <%= firstname %> <%= lastname %></h1>
    </div>
</body>
</html>