<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="styles.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Profile</title>
</head>
<header>
    <div class="row row-cols-2">
        <div id="title" class="align-items-center">
            <h1 class="mt-2"><a href="/">SeekingAgents</a></h1>
        </div>
        <nav id="navlinks" class="justify-content-end text-center">
            <p id="navname">
                <%= firstname %>
                    <%= lastname %>
            </p>
            <p>|</p>
            <p><a href="/dashboard_a">Dashboard</a></p>
            <p>|</p>
            <p><a href="/settings_a">Settings</a></p>
            <p>|</p>
            <p><a href="/logout">Logout</a></p>
        </nav>
    </div>
</header>

<body id="profileBody">
    <div id="profileContainer">
        <div id="profileGrid1">
            <div id="officeContainer">
                <h1>Current Office(s)<button type="button" id="officeButton" onclick="showOffice()">Edit</button></h1>
                <table id="officeTable">
                    <thead>
                        <tr>
                            <th>Office Name</th>
                            <th>Office License Number</th>
                            <th>Office License State</th>
                            <th>Office Address</th>
                            <th>Office City</th>
                            <th>Office State</th>
                            <th>Office Zip</th>
                            <th>Office Phone Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (hasOffices) { %>
                            <% offices.forEach(function(office) { %>
                                <tr id="office-<%= office.agentofficeid %>">
                                    <td>
                                        <%= office.officeName %>
                                    </td>
                                    <td>
                                        <%= office.officeLicenseNumber %>
                                    </td>
                                    <td>
                                        <%= office.officeLicenseState %>
                                    </td>
                                    <td>
                                        <%= office.address %>
                                    </td>
                                    <td>
                                        <%= office.city %>
                                    </td>
                                    <td>
                                        <%= office.state %>
                                    </td>
                                    <td>
                                        <%= office.zip %>
                                    </td>
                                    <td>
                                        <%= office.phoneNumber %>
                                    </td>
                                </tr>
                                <% }); %>
                                    <% } else { %>
                                        <tr id="noOfficeRow">
                                            <td colspan="8">No offices found.</td>
                                        </tr>
                                        <% } %>
                    </tbody>
                </table>
                <form id="officeForm">
                    <input type="text" id="officeName" name="officeName" placeholder="Office Name" required>
                    <input type="text" id="officeLicenseNumber" name="officeLicenseNumber"
                        placeholder="Office License Number" required>
                    <input type="text" id="officeLicenseState" name="officeLicenseState"
                        placeholder="Office License State" maxlength="2" minlength="2"
                        oninput="this.value = this.value.toUpperCase()" required pattern="[A-Z]{2}"
                        title="Enter a valid US state abbreviation">
                    <input type="text" id="address" name="address" placeholder="Office Address" required>
                    <input type="text" id="city" name="city" placeholder="Office City" required>
                    <input type="text" id="state" name="state" placeholder="Office State" maxlength="2" minlength="2"
                        oninput="this.value = this.value.toUpperCase()" required pattern="[A-Z]{2}"
                        title="Enter a valid US state abbreviation">
                    <input type="text" id="zip" name="zip" placeholder="Office Zip" required>
                    <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Office Phone Number" required>
                    <button type="button" id="officeAdd">Add</button>
                    <span id="offStatus"></span>
                </form>

            </div>
            <div id="licenseContainer">
                <p>
                <h1>Current Licenses <button type="button" id="licenseButton" onclick="showLicense()">Edit</button></h1>
                </p>
                <table id="licensesTable">
                    <thead>
                        <tr>
                            <th>License State</th>
                            <th>License Number</th>
                            <th>Expiration Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (hasLicenses) { %>
                            <% licenses.forEach(function(license) { %>
                                <tr id="license-<%= license.agentlicenseid %>">
                                    <td>
                                        <%= license.licenseState %>
                                    </td>
                                    <td>
                                        <%= license.licenseNumber %>
                                    </td>
                                    <td>
                                        <%= license.licenseExpirationDate %>
                                    </td>
                                </tr>
                                <% }); %>
                                    <% } else { %>
                                        <tr id="noLicenseRow">
                                            <td colspan="3">No licenses found.</td>
                                        </tr>
                                        <% } %>
                    </tbody>
                </table>
                <form id="licenseForm">
                    <input type="text" id="licenseState" name="licenseState" placeholder="License State" maxlength="2"
                        minlength="2" oninput="this.value = this.value.toUpperCase()" required pattern="[A-Z]{2}"
                        title="Enter a valid US state abbreviation">
                    <input type="text" id="licenseNumber" name="licenseNumber" placeholder="License Number" required>
                    <input type="date" id="licenseExpirationDate" name="licenseExpirationDate"
                        placeholder="License Expiration Date" required>
                    <button type="button" id="licenseAdd" disabled>Add</button>
                    <span id="licStatus"></span>
                </form>
            </div>
            <div id="transactionContainer">
                <p>
                <h1>Current Transaction(s) <button type="button" class="hoverStyle" id="transactionButton"
                        onclick="showTransactions()">Edit</button></h1>
                </p>
                <table id="transactionTable">
                    <thead>
                        <tr>
                            <th>Transaction Date</th>
                            <th>Transaction Amount</th>
                            <th>Transaction Property Type</th>
                            <th>Transaction Level Of Service</th>
                            <th>Transaction Compensation Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (hasTransactions) { %>
                            <% transactions.forEach(function(transaction) { %>
                                <tr id="transaction-<%= transaction.agenttransactionid %>">
                                    <td>
                                        <%= transaction.transactionDate %>
                                    </td>
                                    <td>
                                        <%= transaction.transactionAmount %>
                                    </td>
                                    <td>
                                        <%= transaction.PropertyType %>
                                    </td>
                                    <td>
                                        <%= transaction.LevelOfService %>
                                    </td>
                                    <td>
                                        <%= transaction.CompensationType %>
                                    </td>
                                </tr>
                                <% }); %>
                                    <% } else { %>
                                        <tr id="noTransactionRow">
                                            <td colspan="5">No transactions found.</td>
                                        </tr>
                                        <% } %>
                    </tbody>
                </table>
                <form id="transactionForm">
                    <input type="date" id="transactionDate" name="transactionDate" placeholder="Transaction Date"
                        required>
                    <input type="number" id="transactionAmount" name="transactionAmount"
                        placeholder="Transaction Amount" required>
                    <input type="text" id="propertyType" name="PropertyType" placeholder="Transaction Property Type"
                        required>
                    <input type="text" id="levelOfService" name="LevelOfService"
                        placeholder="Transaction Level Of Service" required>
                    <input type="text" id="compensationType" name="CompensationType"
                        placeholder="Transaction Compensation Type" required>
                    <button type="button" id="transactionAdd">Add</button>
                </form>
            </div>
        </div>
        <div id="profileGrid2">
            <div id="BioContainer">
                <h1>Profile for <%= firstname %>
                        <%= lastname %>
                </h1>
                <h1>About <%= firstname %> <button type="button" class="hoverStyle" id="bioButton"
                            onclick="showBio()">Edit</button></h1>
                <div id="bioDiv">
                    <p id="bioText">No Biography</p><br>
                    <h3>Languages:</h3><br>
                    <p id="languagesText">No Languages</p>
                </div>
                <div id="bioForm">
                    <textarea id="bio" name="bio" rows="4" cols="50" placeholder="Enter your biography here"
                        required></textarea>
                    <br>
                    <textarea id="languages" name="languages" rows="4" cols="50"
                        placeholder="Enter the languages you speak here" required></textarea>
                </div>
                <span id="bioStatus"></span>
            </div>
            <div class="zipCode-container" id="profileZips">
                <h1 id>Zip Codes<button type="button" class="hoverStyle" id="zipCodeButton"
                        onclick="showZipCodes()">Edit</button></h1>
                <br>
                <div id="ownedZipCodes"></div>
                <div id="zipCodeForm">
                    <p>Select Zip Codes in which you would like offers</p>
                    <br>
                    <label for="stateSelect">States:</label>
                    <select id="stateSelect" onchange="populateCities();"></select>
                    <label for="citySelect">Cities:</label>
                    <select id="citySelect" onchange="populateZipCodes();"></select>
                    <div class="grid-container">
                        <div class="grid-available">
                            <p>Available Zip Codes</p>
                            <div class="container">
                                <div id="availabeZipCodesContainer" class="box1">
                                     JavaScript will populate this container 
                                </div>
                            </div>
                        </div>
                        <div class="grid-action">
                            <button type="button" class="button" onclick="addSelection()">Add</button>
                            <button type="button" class="button" onclick="removeSelection()">Remove</button>
                        </div>
                        <div class="grid-selected">
                            <p>Selected Zip Codes</p>
                            <div class="container">
                                <div id="selectedZipCodesContainer" class="box2">
                                     JavaScript will populate this container 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/profile_a.js"></script>
        <script src="/session.js"></script>
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent Profile</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="header.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="profile_a.css">
    </style>
</head>


<header>
    <div class="row row-cols-2">
        <div id="title" class="align-items-center">
            <!-- <h1 class="mt-2"><a href="/">SeekingAgents</a></h1> -->
            <div class="logo-container"></div>
        </div>
        <nav id="navlinks" class="justify-content-end text-center">
            <p><a href="/dashboard_a">Dashboard</a></p>
            <p>|</p>
            <p><a href="/settings_a">Settings</a></p>
            <p>|</p>
            <p><a href="/logout">Logout</a></p>
        </nav>
    </div>

</header>

<body>
    <div class="margin-top-100"></div>
    <div class="form-row d-flex justify-content-center">
        <div class="form-group col-md-3">
            <div class="form-row col-md-12">
                <div class="user-container col-md-12 justify-content-center">
                    <h3 class="text-center">Personal Info</h3>
                    <div class="profile-group d-flex">
                        <div id="BioContainer" class="text-center">
                            <!-- <h3>Profile for <%= firstname %>
                                    <%= lastname %> -->
                                        </h31>
                                        <h3>About <%= firstname %>
                                        </h3>
                                        <div id="bioDiv">
                                            <p id="bioText" class="text-center">
                                                <% if(hasBio) {%>
                                                <%= bioInfo[0].bio %>
                                                <% } else { %>
                                                No Biography
                                                <% } %>
                                                </p><br>
                                            <h3>Languages:</h3><br>
                                            <p id="languagesText"><% if(hasBio) {%>
                                                <%= bioInfo[0].languages %>
                                                <% } else { %>
                                                No Languages
                                                <% } %></p>
                                        </div>
                                        <div id="bioForm">
                                            <textarea id="bio" name="bio" rows="4" cols="50"
                                                placeholder="Enter your biography here" required></textarea>
                                            <br>
                                            <textarea id="languages" name="languages" rows="4" cols="50"
                                                placeholder="Enter the languages you speak here" required></textarea>
                                        </div>
                                        <span id="bioStatus"></span>
                        </div>

                    </div>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target="#personalModal">
                        Modify Personal Info
                    </button>
                </div>
            </div>
            <div class="form-row col-md-12">
                <div class="user-container col-md-12" style="margin-top: 8px;">
                    <h3>Your Zip Codes</h3>
                    <div id="displayZipCodes" class="justify-content-center">
                      <!-- JavaScript will populate this container -->
                    </div>
                    <div class="form-row justify-content-center">
                      <button type="button" id="modify-button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#zipCodeModal" onclick="populateUserZipCodes();">
                      Modify Zip Codes
                    </button>
                    </div>
                  </div>
            </div>
        </div>
        <div class="form-group col-md-5">
            <div class="user-container">
                <h3 class="text-center">Office Info</h3>
                <div class="office-group">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Current Office(s)</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4><%= offices[1].officeName %></h4>
                        </div>
                        <div class="col-md-6">
                            <h4><%= offices[1].officeLicenseNumber %> - <%= offices[1].officeLicenseState %></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Address: <%= offices[1].address %>, <%= offices[1].city %>, <%= offices[1].state %> <%= offices[1].zip %></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4><%= offices[1].phoneNumber %></h4>
                        </div>
                    </div>
                    <table id="officeTable">
                        <thead>
                            <tr>
                                <th>Office Name</th>
                                <th>Office License Number</th>
                                <th>Office License State</th>
                                <th>Office Address</th>
                                <th>Office City</th>
                                <th>Office State</th>
                                <th>Office Zip</th>
                                <th>Office Phone Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (hasOffices) { %>
                                <% offices.forEach(function(office) { %>
                                    <tr id="office-<%= office.agentofficeid %>">
                                        <td>
                                            <%= office.officeName %>
                                        </td>
                                        <td>
                                            <%= office.officeLicenseNumber %>
                                        </td>
                                        <td>
                                            <%= office.officeLicenseState %>
                                        </td>
                                        <td>
                                            <%= office.address %>
                                        </td>
                                        <td>
                                            <%= office.city %>
                                        </td>
                                        <td>
                                            <%= office.state %>
                                        </td>
                                        <td>
                                            <%= office.zip %>
                                        </td>
                                        <td>
                                            <%= office.phoneNumber %>
                                        </td>
                                    </tr>
                                    <% }); %>
                                        <% } else { %>
                                            <tr id="noOfficeRow">
                                                <td colspan="8">No offices found.</td>
                                            </tr>
                                            <% } %>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#officeModal"
                    onclick="populateUserZipCodes();">

                    Modify Office Info
                </button>
            </div>
            <div class="user-container">
                <h3 class="text-center">License Info</h3>
                <div class="license-group">

                </div>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#licenseModal"
                    onclick="populateUserZipCodes();">

                    Modify License Info
                </button>
            </div>
            <div class="user-container">
                <h3 class="text-center">Transaction Info</h3>
                <div class="transaction-group">

                </div>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#transactionModal"
                    onclick="populateUserZipCodes();">

                    Modify Transaction Info
                </button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="zipCodeModal" tabindex="-1" aria-labelledby="zipCodeModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="zipCodeModalLabel">Your Zip Codes</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container mt-5">
                <div class="zipstate-group justify-content-center">
                  <form>
                    <div class="form-row">
                      <div class="form-row col-md-12 justify-content-center">
                        <div><b>Enter a Zip Code or Select a State</b></div>
                      </div>
                      <div class="form-group col-md-5">
                        <label for="zipSelect">Zip Code:</label>
                        <input id="zipSelect" class="form-select-sm col-md-5" placeholder="Zip Code" type="text" maxlength="5" onblur="addZipCode();">
                      </div>
                      <div class="form-group col-md-1">
                        <b>OR</b>
                      </div>
                      <div class="form-group col-md-5">
                        <label for="stateSelect" class="col-md-5">State:</label>
                        <select id="stateSelect" class="form-select-sm col-md-5" onchange="populateCitiesCounties();"></select>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="county-group justify-content-center">
                  <form>
                    <div class="form-row justify-content-center">
                      <div id="countymessage" style="display: none;">Select a City or County to display
                        Zip Codes</div>
                    </div>
                    <div class="form-row justify-content-center">
                      <div class="form-group col-md-5">
                        <label for="countySelect">County:</label>
                        <select id="countySelect" class="form-select-sm col-md-8" onchange="populateCountyZipCodes();"></select>
                      </div>
                      <div class="form-group col-md-1">
                        <b>OR</b>
                      </div>
                      <div class="form-group col-md-5">
                        <label for="citySelect">Cities:</label>
                        <select id="citySelect" class="form-select-sm col-md-8" onchange="populateCityZipCodes();"></select>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="zipselect-group col-md-12">
                  <form>
                    <div class="form-row justify-content-center">
                      <div class="zipCode-group col-md-4 justify-content-center">
                        <p>Select Zip Codes</p>
                        <div class="col-md-2 justify-content-center"></div>
                        <div id="availabeZipCodesContainer" class="col-md justify-content-center">
                          <!-- JavaScript will populate this container -->
                        </div>
                      </div>
                      <div class="zipCode-group col-md-2 zipAction">
                        <div class="col-md">
                          <div class="row">
                            <button id="addZip" class="toggle-button zipmove-button" onclick="addSelection(event)">
                              &nbsp;Add&nbsp;<i class="fas fa-chevron-right"></i>&nbsp;
                            </button>
                          </div>
                          <div class="row">
                            <button id="removeZip" class="toggle-button zipmove-button" onclick="removeSelection(event)">
                              &nbsp;<i class="fas fa-chevron-left"></i>&nbsp;Remove&nbsp;
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="zipCode-group col-md-3 justify-content-center">
                        <p>Your Zip Codes</p>
                        <div class="col-md-4"></div>
                        <div id="selectedZipCodesContainer" class="col-md justify-content-center">
                          <!-- JavaScript will populate this container -->
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="form-row justify-content-center">
                  <div class="modal-footer">
                    <button type="button" id="modify-button" class="modify-button" onclick="saveZipChanges(event)">Save</button>
                    <button type="button" id="modify-button" class="modify-button" onclick="populateDisplayZipCodes()" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="modal fade" id="officeModal" tabindex="-1" aria-labelledby="officeModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="officeModalLabel">Office Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container mt-5">
                        <div class="form-container">
                            <form id="officeForm" style="padding-top: 5px;">
                                <div class="form-row ">
                                    <label for="officeName" class="col-md-4 col-form-label">Office Name</label>
                                    <input type="text" class="form-control-sm col-md-6" placeholder="Office Name"
                                        id="officeName" name="officeName" value="FIX" required>
                                        
                                </div>
                                <div class="form-row ">
                                    
                                    <label for="officeLicenseNumber" class="col-md-4 col-form-label">Office License Number</label>
                                    <input type="text" class="form-control-sm col-md-6" id="officeLicenseNumber"
                                        name="officeLicenseNumber" placeholder="Office License Number" value="FIX>" required>
                                </div>
                                <div class="form-row">
                                    <label for="officeLicenseState" class="col-md-4 col-form-label">Office License State</label>
                                    <input type="text" class="form-control-sm col-md-1" id="officeLicenseState"
                                        name="officeLicenseState" value="FI" maxlength="2" minlength="2"
                                        oninput="this.value = this.value.toUpperCase()" required pattern="[A-Z]{2}"
                                        title="Enter a valid US state abbreviation" required>
                                </div>
                                <div class="form-row">
                                    <label for="address" class="col-md-4 col-form-label">Office Address</label>
                                    <input type="text" class="form-control-sm col-md-6" placeholder="Office Address"
                                        id="address" name="address" value="FIX" required>
                                </div>
                                <div class="form-row ">
                                    <label for="city" class="col-md-4 col-form-label">Office City</label>
                                    <input type="text" class="form-control-sm col-md-6" placeholder="Office City" id="city" name="city" value="FIX" required>
                                </div>
                                <div class="form-row ">
                                    <label for="state" class="col-md-4 col-form-label">Office State</label>
                                    <input type="text" id="state" class="form-control-sm col-md-1" maxlength="2" minlength="2" oninput="this.value = this.value.toUpperCase()" required pattern="[A-Z]{2}"title="Enter a valid US state abbreviation">
                                </div>
                                <div class="form-row ">
                                    <label for="zip" class="col-md-4 col-form-label">Office Zip Code</label>
                                    <input type="zip" class="form-control-sm col-md-2" placeholder="Zip Code" id="zip" name="zip" value="FIX" required>
                                </div>
                                <div class="form-row ">
                                    <label for="phoneNumber" class="col-md-4 col-form-label">Office Phone Number</label>
                                    <input type="text" class="form-control-sm col-md-6"
                                        placeholder="Office Phone Number" id="phoneNumber"
                                        name="phoneNumber" value="FIX">
                                </div>
                                <input type="hidden" id="userid" name="userid" value="FIX">
                            </form>
                        </div>
                        <div form-row justify-content-center>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"
                                    onclick="saveOfficeChanges()">Save</button>
                                <button type="button" class="btn btn-primary btn-sm"
                                    data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="personalModal" tabindex="-1" aria-labelledby="personalModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="personalModalLabel">Personal Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container mt-5">
                        <div class="form-container">
                            <form id="profile-group">
                                <div class="form-row ">
                                    <label class="col-md-4" style="font-size: 14px;">First</label>
                                    <label class="col-md-3" style="font-size: 14px;">Last</label>
                                </div>
                                <div class="form-row ">
                                    <label for="firstName"
                                        class="col-md-3 col-form-label justify-content-right">Name</label>
                                    <input type="text" class="form-control-sm col-md-3" placeholder="First Name"
                                        id="firstName" name="firstName" value="<%= firstname %>" required>
                                    <input type="text" class="form-control-sm col-md-5" placeholder="Last Name"
                                        id="lastName" name="lastName" value="<%= lastname %>" required>
                                </div>
                                <div class="form-row">
                                    <p><%= bioInfo.bio %></p>
                                    <textarea id="personalBio" name="bio" rows="4" cols="50" placeholder="Enter your biography here" required><%= bioInfo[0].bio %></textarea>
                                </div>
                                <div class="form-row">
                                    <textarea id="personalLanguages" name="languages" rows="4" cols="50" placeholder="Enter the languages you speak here" required><%= bioInfo[0].languages %></textarea>
                                </div>
                                <input type="hidden" id="personalAgentid" name="agentid" value="<%= agentid %>">
                            </form>
                        </div>
                        <div form-row justify-content-center>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"
                                    onclick="savePersonalChanges()">Save</button>
                                <button type="button" class="btn btn-primary btn-sm"
                                    data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/profile_a.js"></script>
    <script src="/session.js"></script>
</body>


</html>